html(lang="en")
  head
    title DALLIKAKTUS

    link(rel='stylesheet', href='../public/css/bootstrap.min.css')
    link(rel='stylesheet', href='../public/css/layout.css')
    script(type='text/javascript' src="../public/js/kütüphane/p5.min.js")
    script(type='text/javascript' src="../public/js/kütüphane/p5.dom.min.js")
    script(type='text/javascript' src="../public/js/kütüphane/tracking-min.js")
    script(type='text/javascript' src="../public/js/kütüphane/tether.min.js")
    script(type='text/javascript' src="../public/js/kütüphane/jquery-3.2.1.js")
    script(type='text/javascript' src="../public/js/kütüphane/bootstrap.min.js")
    
  body
    
    #container
    
script(type='text/javascript' src="/public/js/renkler/mvi.js")
script(type='text/javascript' src="/public/js/canvas.js")    
script(type='text/javascript' src="/public/js/renkler/trnc.js")
script(type='text/javascript' src="/public/js/renkler/syh.js")
script(type='text/javascript' src="/public/js/nesneler/cakmak.js")
script(type='text/javascript' src="/public/js/fe_1.js")
